<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Genre</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="game_form">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="genre" type="text" class="form-control" placeholder="Enter genre name" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
