<form class="genre_form">
  <div class="form-group">
    <label for="name">Name</label>
    <input name="name" type="text" class="form-control" placeholder="Enter genre name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
